<script src="https://utteranc.es/client.js"
  repo="{{ .Site.Params.comment.utterances.owner }}/{{ .Site.Params.comment.utterances.repo }}"
  issue-term="pathname"
  theme="github-light"
  crossorigin="anonymous"
  async>
</script>

<script>
  {{- if eq .Site.Params.colorScheme "light" }}
    if (storageColorScheme == "Auto") {
      document.getElementById('utterances').setAttribute('theme', 'preferred-color-scheme')
    } else if (storageColorScheme == "Dark") {
      document.getElementById('utterances').setAttribute('theme', 'github-dark')
    }
  {{- else if eq .Site.Params.colorScheme "dark" }}
    if (storageColorScheme == "Auto") {
      document.getElementById('utterances').setAttribute('theme', 'preferred-color-scheme')
    } else if (storageColorScheme == "Light") {
      document.getElementById('utterances').setAttribute('theme', 'github-light')
    }
  {{- else }}
    if (storageColorScheme == "Light") {
      document.getElementById('utterances').setAttribute('theme', 'github-light')
    } else if (storageColorScheme == "Dark") {
      document.getElementById('utterances').setAttribute('theme', 'github-dark')
    }
  {{- end }}
</script>